.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
}

.dialog {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    position: relative;
}

.dialog h2 {
    margin-bottom: 10px;
}

.dialog form {
    display: flex;
    flex-direction: column;
}

.dialog label {
    margin-bottom: 5px;
}

.dialog input {
      /* Text Box */

      box-sizing: border-box;

      /* Auto layout */
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px 30px 0 18px;
      gap: 10px;
  
      width: 307px;
      height: 40px;
  
      border: 1px solid #000000;
  
      font-size: 16px;
      outline: none;
}

.dialog button {
    padding: 8px 16px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.dialog button[type="submit"] {
    background: #28a745; /* Green color for submit button */
    margin-top: 10px;
}

.dialog button[type="submit"]:hover,
.dialog button[type="submit"]:focus {
    background: #218838; /* Darker green on hover/focus */
}

.dialog button:hover,
.dialog button:focus {
    background: #0056b3; /* Dark blue on hover/focus */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .dialog-close {
    position: absolute;
    right: 5px;
    top: 5px;
  }